*{ margin: 0; padding: 0;}

#wrap {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: 
    linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,34,121,1) 35%, rgba(85,43,117,1) 66%, rgba(147,7,109,1) 100%, rgba(0,212,255,1) 100%);
    text-align: center;
    /* 애니메이션 */
    animation-name: ball;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#wrap > h1 { line-height: 200px; color: white;}

/* 애니메이션의 변경지점을 지정하는 속성 */
@keyframes ball {
    /* 시작 위치 */
    from {
        left: 0;
        transform: rotate(0deg);
    }

    25% {
        left: 250px;
        transform: rotate(180deg) translateY(-200px);
    }

    50% { 
        left: 500px;
        transform: rotate(360deg) ;
    }

    75% {
        left: 250px;
        transform: rotate(180deg) translateY(-200px);
    }



    /* 종료 위치 */
    to {
        left: 0px;
        transform: rotate(0deg);
    }
}