*{ margin: 0; padding: 0;}

.container {
    width: 100vw;
    height: 100vh;
    animation: bg 8s infinite;
}

@keyframes bg {
    0% {background-color: purple;}
    25%{background-color: rebeccapurple;}
    50%{background-color: orchid;}
    75%{background-color: plum;}
    100%{background-color:pink;}
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
}